/* ==========================================
   CABEÇALHO
========================================== */

.cabecalho {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--altura-cabecalho);
    padding: 0 var(--espacamento-container);

    background-color: var(--cor-fundo-secundario);
    border-bottom: var(--borda-padrao) var(--cor-fundo-primario);
}

.logo {
    display: flex;
    gap: var(--espacamento-medio);
}

.menu {
    display: flex;
    gap: var(--espacamento-xl);
}

.menu a {
    padding: var(--espacamento-xl);

    color: var(--cor-texto-secundario);

    font-family: var(--fonte-principal);
    font-size: var(--fonte-menu);
    font-weight: 700;
}

.menu a:hover {
    border-bottom: 2px solid var(--cor-texto-primario);
}



/* ==========================================
   HERO
========================================== */

.hero {
    position: relative;
    display: flex;
    min-height: calc(100vh - var(--altura-cabecalho));
    overflow: hidden;
}

.hero-imagem {
    position: absolute;
    inset: 0;
    background-image: url("../imagens/bg-main.png");
    background-size: cover;
    background-position: center var(--altura-cabecalho);
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.hero::after {
    content: "";

    position: absolute;
    inset: 0;

    background: linear-gradient(90deg,
            var(--cor-gradiente-escuro),
            var(--cor-gradiente-medio) 35%,
            transparent 65%);
}

.hero-conteudo {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--espacamento-xxl);
    min-height: calc(100vh - var(--altura-cabecalho));
    max-width: var(--largura-maxima-conteudo);
    padding:
        var(--espacamento-container) var(--espacamento-container) var(--espacamento-container) var(--padding-hero-lateral);
}

.hero-marcas {
    display: flex;
    gap: var(--espacamento-xxl);
}

.hero-marcas img {
    max-width: var(--largura-logo-hero);
}

.hero-titulo {
    font-size: var(--fonte-titulo-hero);
}

.hero-texto {
    font-size: var(--fonte-paragrafo);
    line-height: 1.6;
}

.btn-comprar {
    width: 50%;
}


/* ==========================================
   SEÇÃO DE COMPRA
========================================== */

.secao-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--espacamento-secao);
    text-align: center;
}

.secao-compra>.titulo {
    margin-bottom: var(--espacamento-secao);
    font-size: var(--fonte-titulo-secao);
    font-weight: 700;
}

.card-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espacamento-gigante);
    width: var(--largura-card);
    padding: var(--espacamento-container);
    background-color: var(--cor-texto-escuro);
    border-radius: var(--raio-card);
}

.card-capa {
    width: var(--largura-imagem-card);
}

.card-conteudo {
    display: flex;
    flex-direction: column;
    gap: var(--espacamento-xl);
}

.card-conteudo h3 {
    font-size: var(--fonte-titulo-card);
    font-weight: 700;
}

.card-conteudo p {
    color: var(--cor-texto-secundario);

    font-size: var(--fonte-texto);
    line-height: 1.6;
}

.lista-plataformas {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--espacamento-xxl);
    justify-items: center;
    align-items: center;
}

.item-plataforma {
    grid-column: span 2;
}

.item-plataforma:nth-child(4) {
    grid-column: 2 / span 2;
}

.item-plataforma:nth-child(5) {
    grid-column: 4 / span 2;
}


/* ==========================================
   DROPDOWN DE PLATAFORMAS
========================================== */

.seletor-plataforma {
    width: 100%;
}

.btn-plataforma {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espacamento-grande);
}

.btn-plataforma:hover {
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto-escuro);
}

.btn-plataforma.ativo,
.btn-plataforma.ativo:hover {
    background-color: var(--cor-botao-transparente);
    color: var(--cor-texto-primario);
}

.lista-plataformas-dropdown {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: var(--espacamento-grande);
    margin-top: var(--espacamento-pequeno);
    opacity: 0;
    transition: var(--transicao-padrao);
}

.lista-plataformas-dropdown.ativo {
    display: flex;
    opacity: 1;
}

.lista-plataformas-dropdown li {
    padding: var(--espacamento-grande);
    transition: var(--transicao-padrao);
}

.plataforma-playstation {
    border: var(--borda-padrao) var(--cor-playstation);
    background-color: var(--cor-fundo-primario);
}

.plataforma-playstation:hover {
    background-color: var(--cor-playstation);
}

.plataforma-xbox {
    border: var(--borda-padrao) var(--cor-xbox);
    background-color: var(--cor-fundo-primario);
}

.plataforma-xbox:hover {
    background-color: var(--cor-xbox);
}

.plataforma-pc {
    border: var(--borda-padrao) var(--cor-pc);
    background-color: var(--cor-fundo-primario);
}

.plataforma-pc:hover {
    background-color: var(--cor-pc);
}

.opc-plataforma {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--espacamento-grande);
    border: none;
    border-radius: var(--raio-botao);
    background-color: transparent;
    color: var(--cor-texto-primario);
    transition: var(--transicao-padrao);
}

.logo-plataforma {
    display: block;
    
    width: 10rem;
    height: 10rem;

    background-color: var(--cor-texto-primario);

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    transition: var(--transicao-padrao);
}
.logo-ps5 {
    mask-image: url("../imagens/logo-ps5.svg");
    -webkit-mask-image: url("../imagens/logo-ps5.svg");
}

.logo-xbox-series {
    mask-image: url("../imagens/logo-xbox-series-s.svg");
    -webkit-mask-image: url("../imagens/logo-xbox-series-s.svg");
}

.logo-ps4 {
    mask-image: url("../imagens/logo-ps4.svg");
    -webkit-mask-image: url("../imagens/logo-ps4.svg");
}

.logo-xbox-one {
    mask-image: url("../imagens/logo-xbox-one.svg");
    -webkit-mask-image: url("../imagens/logo-xbox-one.svg");
}

.logo-pc {
    mask-image: url("../imagens/logo-pc.svg");
    -webkit-mask-image: url("../imagens/logo-pc.svg");
    width: 4.5rem;
}

.logo-plataforma.selecionada {
    background-color: var(--cor-texto-primario);
}

.logo-ps5.selecionada,
.logo-ps4.selecionada {
    background-color: var(--cor-playstation);
}

.logo-xbox-series.selecionada,
.logo-xbox-one.selecionada {
    background-color: var(--cor-xbox);
}

.logo-pc.selecionada {
    background-color: var(--cor-pc);
}