/* ==================================================
   TABLETS E NOTEBOOKS
================================================== */

@media (max-width: 1024px) {

    .cabecalho {
        flex-direction: column;
        justify-content: center;
        padding: var(--espacamento-secao) 0;
        gap: var(--espacamento-medio);
    }

    .menu a {
        padding: var(--espacamento-medio);
    }

    .hero-conteudo {
        padding: var(--espacamento-xl);
    }

    .hero-marcas img {
        max-width: 6.25rem;
    }

    .hero-titulo {
        font-size: 2.5rem;
    }

    .card-produto {
        width: 70%;
    }

}


/* ==================================================
   TABLETS PEQUENOS E CELULARES
================================================== */

@media (max-width: 768px) {

    .secao-compra {
        padding: var(--espacamento-xl);
    }

    .card-produto {
        width: 100%;
        padding:
            var(--espacamento-container)
            var(--espacamento-grande);
    }

    .card-conteudo h3 {
        font-size: 2.1875rem;
    }

    .lista-plataformas {
        flex-direction: column;
    }

    .btn-plataforma {
        margin-top: var(--espacamento-medio);
        padding: var(--espacamento-medio);
    }

    .btn-comprar {
        width: 100%;
    }

}


/* ==================================================
   CELULARES
================================================== */

@media (max-width: 425px) {

    .hero::after {
        background: linear-gradient(
            90deg,
            var(--cor-gradiente-escuro),
            var(--cor-gradiente-claro) 100%,
            transparent 65%
        );
    }

    .card-capa {
        max-width: 80%;
    }

}